
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background-image: url("../images/bulb_black.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-color: #bbb302;
    lighting-color: #dba51f;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    align-self: center;
    flex: 0 0 auto;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
    border-width: medium;
}

.form-control {
    border: 2px solid #ffffff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
    border: 2px solid #ffffff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file-input.selected:lang(en)::after {
    content: "" !important;
}
.custom-file {
    overflow: hidden;
}
.custom-file-input {
    white-space: nowrap;
}

.form-control:focus {
    border-color: #ffaf14;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 175, 20, 0.5);
}

.form-select:focus {
    border-color: #ffaf14;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 175, 20, 0.5);
}
.form-check-input:checked{
    border-color: #ffaf14;
    background-color: #ffaf14;
}
.form-check-input:focus{
    border-color: #ffaf14;
    background-color: #ffaf14;
    box-shadow: 0 0 0 0.15rem rgba(255, 175, 20, 0.25);
}
.btn-warning {
    color: #000;
    background-color: goldenrod;
    border-color: #ffc107;
}
